.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
**/release/
dist
dist-ssr
.output
.vinxi
**/extension/manifest.json
**/extension/.amo-upload-uuid
node_modules
.eslintcache
*.timestamp-*.*js
test-results/
!.gitkeep
.env
**/.claude/settings.local.json
*.timestamp_*.js
